:root{
	--main-color:#002A54;
	--main-dark:#176ba4;
  --main-hover:#EC1616;
  --main-border:#FF6A00;
  --main-border-hover:#e35300;

  --header-back:#F5F5F5;
  
  --tab-color:#9747FF;
  --gree-color:rgb(0, 153, 50);
  --quality-color:#503BFF;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: iran;
    color: #333;
}
input , button{
    font-family: iran; 
}
a{
    color:inherit;
    text-decoration:none ;
}
p{
    text-align: justify;
}
header{

}

/*Header*/
.topBanner{

}
.topBanner img{
    width:100%;
}
.headerTop{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.searchHeader{
    display: flex;
}
.searchHolder{
    display: flex;
    border: 2px solid var(--main-border);
    border-radius: 20px 0 0 20px;
    padding: 5px 20px;
}
.searchHolder input{
    font-size: 14px;
    padding: 5px 0px;
    border:none;
    width:300px;
    outline: 0;
}
.searchButton{
    background-color: var(--main-border);
    border-radius: 0 20px 20px 0;
    padding: 5px 40px;
    color:#fff;
    display: grid;
    align-items: center;
    cursor: pointer;
}
.searchButton:hover{
    background-color: var(--main-border-hover);
}
.clientField{
    display: flex;
    font-size: 14px;
    width: 30%;
    align-items: baseline;
    justify-content: center;
}
.clientHeader{
    display: flex;
}
.loginHeader{
    position: relative;
    width: 140px;
    cursor: pointer;
    justify-content: center;
}
.loginHeader:hover{
    color:var(--main-color)
}
.loginHeader::before{
    content: "\f2c0";
    font-family: "FontAwesome";
    font-size: 33px;
    float: left;
    width: 35px;

}
.clientPart{
    text-align: center;
    margin: auto 3%;
    min-width: 60px;
}
.messageHeader::before{
    font-size: 23px;
    content: "\f27b";
}
.orderHeader::before{
    font-size: 23px;
    content: "\f0ca";
}
.cartHeader::before{
    font-size: 23px;
    content: "\f290";
}

.seprate{
    background: #E6E7EB;
    height: 1px;
    width: 100%;
}
.menuBar{

}
.catMenu{

}
.catMenu::before{
    content: "\f03a";
}
.catMenu::after{
    content: "\f107";
}














@media(max-width:700px){

}